.container {
    text-align: center;
  }
  .title {
    margin-top: 5px; /* Reduced margin */
    color: aliceblue;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title span {
    color: #ffee00;
  }
  .reset {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
    background: #774103;
    font-size: 16px;
    color: #ffee00;
    font-weight: bold;
    margin-top: 20px; /* Adjusted margin */
    margin-bottom: 30px; /* Adjusted margin */
  }
  .boxes {
    display: flex;
    height: 180px;
    width: 180px;
    background: #774103;
    border: 4px solid #000000;
    border-radius: 0px;
    cursor: pointer;
  }
  .board {
    height: auto; /* Adjusted for responsiveness */
    width: 564px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px auto; /* Reduced vertical margin */
  }
  .boxes img {
    margin: 30px 30px;
  }
  .title img {
    padding: 20px 20px;
    height: 50px;
  }
  .boxes.highlight {
    background-color: yellow;
  }
  
